body {
  height: 100%;
  width: 100%;
  background-image: url(images/full-bloom.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  height:100%;
  width:60%;
  margin-left: 3%;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; 
}

.footer {
  position: fixed;
  bottom:0;
  width:100%;
  height:60px;
  background:whitesmoke;
}

span {
  margin-left:46%;
}

.text-block {
  position: absolute;
  bottom: 11px;
  left: 16px;
  background-color: rgb(89, 170, 165);
  color: white;
  width: 90%;
  text-align: center;
}

.navbar-brand {
  background-color: rgb(89, 170, 165);
  padding: 10px;
  height: 100%;
}